<!DOCTYPE html>
<html ng-app="LibLibExhibApp" ng-controller="ListingCtrl">
  <head>
    <title ng-bind="exhibitionDoc.title || 'Kadist'">Kadist</title>
    <link rel="stylesheet" href="style/style.css" type="text/css">
    <script src="script/vendor.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no" initial-scale="1.0">

  </head>
  <body  class="front" oncontextmenu="return false;"  ng-class="{ black : currentVid }">
    <!--<div id="video-viewport" ng-hide="currentVid"><video width="300" height="150" id="clouds" poster="img/clouds.png" src="img/clouds.mp4" controls="false" autoplay loop muted></video></div>-->
  	<div id="main" class="container">
  		<div class="row" ng-hide="currentVid">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1 ng-bind="exhibitionDoc.title"></h1>
          <div ng-bind-html="exhibitionDoc.description | sanitize"></div>
          <div class="media-listing">
            <ul class="clearfix" >
              <li ng-repeat="media in medias">
                <a ng-href="{{media.media.url}}" ng-show="touch"><img class="db100" ng-src="{{media.coverImg}}" /></a>
                <a ng-click="setCurrent(media)" ng-hide="touch"><img class="db100" ng-src="{{media.coverImg}}" /></a>
                <a ng-href="{{media.media.url}}" ng-show="touch">
                  <h2 ng-bind-html="media.info.title | sanitize"></h2>
                </a>
                <a ng-click="setCurrent(media)" ng-hide="touch">
                  <h2 ng-bind-html="media.info.title | sanitize"></h2>
                </a>
                <div ng-bind-html="media.info.description | sanitize"></div>
              </li>
            </ul>
          </div>
          <footer ng-bind-html="exhibitionDoc.footer | sanitize"></footer>
        </div>
  		</div>
      <div id="video_wrap" ng-if="currentVid" class="text-center">
        <video autoplay ng-src="{{urlify(currentVid.media.url)}}" loop controls="controls"></video><br/>
        <a ng-click="setCurrent(false)">[x]</a>
      </div>
  	</div>
	  <script src="script/app.min.js"></script>
	</body>

</html>
